@model CommonWarningViewModel

@{
    ViewData["Title"] = "Warning";
}
 <a  asp-controller="LoveGames" asp-action="Create"> 註冊一下</a>

<h1 class="text-danger">@Model.Summary</h1>
<h3>@Model.Message</h3>

<br />

<a asp-controller="Home" asp-action="Index"></a>